extends layout
block vars
  - var pageTitle = 'About'

block content
  include header
  
  .half
    p.
      The people of 1517 Media—from our leadership to every editor, animator, and designer—are dedicated to serving you. Throughout our history as the ministry of publishing for the Evangelical Lutheran Church in America, a heritage that goes back in various forms over 200 years, we’ve been focused on creating reliable, theologically sound resources for all expressions of the Church. 
    
    h3 1,245
    p Titles published in the past year
    
    h3 123
    p Employees in Minneapolis
    
    h3 8
    p Years average employee tenure
    
  .half
    item
      h2 Leadership
    item
      p.red Beth A. Lewis
      p President & CEO
      p.
        In 2002, Beth was called to her current role. Since then, she’s led the staff in the creation and delivery of a wide range of books, curricula, worship, and music resources in traditional ink-on-paper formats as well as print on demand (POD), eBooks, web-based subscriptions, video, downloadable resources, and enhanced interactive eBooks, for use by Lutherans and other Christians in congregations and higher education. Under Beth’s leadership, the organization launched the successful ecumenical faith formation division Sparkhouse.
        
    item
      p.red Tim Blevins
      p Senior Vice President & Publisher
      p.
        Tim joined 1517 Media in 2006 after a 21-year career in the legal information and software industry. In his role he helps guide the organization’s strategic planning and oversees the development, marketing, sales and service of products for the academic, congregational and consumer markets.
        
    item
      p.red John Rahja
      p VP, Operations & CFO
      p.
        John began working with 1517 Media in July 2005. Prior to joining 1517 Media, he worked for a number of manufacturing companies, in roles from Assistant Controller to General Manager and Chief Financial Officer. He began his career working as an auditor with Delloite and Touche. He is a Certified Public Accountant in the State of Minnesota, inactive license.
        
    item
      p.red Sandy Amundson
      p VP, Human Resources and Organizational Development
      p.
        Sandy has spent 24 years working in human resources for higher education institutions and other not-for-profit organizations. Since March of 1999, she has been the Vice President for Human Resources and Organizational Development at 1517 Media. Sandy is a member of the Society for Human Resources Management (SHRM) and Twin Cities Human Resources Association (TCHRA).
  include footer
