extends layout

block head
  title About

block content
  include header
  
  .half
    p.
      The people of 1517 Media—from our leadership to every editor, animator, and designer—are dedicated to serving you. Throughout our history as the ministry of publishing for the Evangelical Lutheran Church in America, a heritage that goes back in various forms nearly 200 years, we’ve been focused on creating reliable, theologically sound resources for all expressions of the Church. 
    
    h3 1,245
    p Titles published in the past year
    
    h3 123
    p Employees in Minneapolis
    
    h3 8
    p Years average employee tenure
    
  .half
    item
      h3 Beth A. Lewis
      h5 President & CEO
      p.
        In 2002, Beth was called to her current role. Since then, she’s led the staff in the creation and delivery of a wide range of books, curricula, worship, and music resources in traditional ink-on-paper formats as well as print on demand (POD), eBooks, web-based subscriptions, video, downloadable resources, and enhanced interactive eBooks, for use by Lutherans and other Christians in congregations and higher education. Under Beth’s leadership, the organization launched the successful ecumenical faith formation division Sparkhouse.
      p.
        Originally from Lexington, Kentucky, she attended the University of Kentucky, completed her bachelor’s degree at Maryville University-St. Louis, and went on to complete Harvard Business School’s Advanced Management Program. In May 2008, she received the Doctor of Divinity honorary degree from Wartburg Theological Seminary. Before joining 1517 Media, she spent 22 years working for Fortune 500 publishing companies.
      p.
        Beth’s husband is the Rev. Dr. Rick Rouse, and they are blessed with 3 adult children, their spouses, and 4 grandchildren. 
        
    item
      h3 Tim Blevins
      h5 Senior Vice President
      p.
        Tim joined 1517 Media in 2006 after a 21-year career in the legal information and software industry. In his role he helps guide the organization’s strategic planning and oversees the development, marketing, sales and service of products for the academic, congregational and consumer markets. He has a BA in History from the University of Minnesota, and an MBA from the University of St. Thomas. He also completed MA coursework in theology at the St. Paul Seminary School of Divinity. 
        
      p.
        Tim and his wife Marjie have been married for 30 years and have three fabulous adult children and a daughter-in-law. He enjoys cycling, yoga, skiing, playing guitar, reading, the arts, and travel.
        
    item
      h3 John Rahja
      h5 VP, Operations & CFO
      p.
        John began working with 1517 Media in July 2005. Prior to joining 1517 Media, he worked for a number of manufacturing companies, in roles from Assistant Controller to General Manager and Chief Financial Officer. He began his career working as an auditor with Delloite and Touche. He is a Certified Public Accountant in the State of Minnesota, inactive license.  
      p.
        John graduated from the University of St. Thomas with a Bachelor of Arts degree in public accounting. He has been married to his wife Jody for 31 years and they have two lovely children. He enjoys playing golf and fishing, both on the water and on the ice.  
        
    item
      h3 Sandy Amundson
      h5 VP, Human Resources and Organizational Development
      p.
        Sandy has spent 24 years working in human resources for higher education institutions and other not-for-profit organizations. Since March of 1999, she has been the Vice President for Human Resources and Organizational Development at 1517 Media. She has a BA in Speech Communication from the University of Minnesota-Morris and an MA in Human Resources Management from Truman State University.  
      p.
        Sandy is a member of the Society for Human Resources Management (SHRM) and Twin Cities Human Resources Association (TCHRA). She is also currently leading a small group women’s Bible study. Past leadership roles have included: Sunday school teacher, confirmation mentor, personnel committee, church council, senior pastor call committee, leadership committee, worship committee, and confirmation committee.  
      p.
        She has two wonderful daughters, and enjoys spending time with her husband Paul and their puppy Floyd. They enjoy sports, travel, reading, music, golf, and summers at her parent’s cabin.
  include footer
