extends layout

block vars
  - var pageTitle = 'Careers'

block content
  include header

  .half
    p.
      Join our friendly team of professionals and be a part of making a real difference in the lives of people of all ages.
    p.
      We offer a supportive and stimulating environment, including a comprehensive employee wellness program, at our new state-of-the-art offices in downtown Minneapolis.
    p.
      Our building provides both a fitness center and indoor bicycle storage. And our kitchen is always stocked with plenty of coffee, water, healthy snacks, and fresh fruit.
    p.
      Our company was named a top place to work by the StarTribune in 2015.
      
      
  .half
    p.
      Find out more about why we're such a great place to work:
      
    h2 
      a(href="/culture") Our Culture
    
    p.
      <br/><br/>
      To learn about current openings at any of our units, click on the appropriate name:
      
    h2
      a(href="//workforcenow.adp.com/jobs/apply/posting.html?client=augsburg&ccId=161501108_2367&type=MP&lang=en_US", target="_blank") Augsburg Fortress
    h2
      a(href="//workforcenow.adp.com/jobs/apply/posting.html?client=augsburg&ccId=161501108_2353&type=MP&lang=en_US", target="_blank") Fortress Press
    h2
      a(href="//workforcenow.adp.com/jobs/apply/posting.html?client=augsburg&ccId=161501108_2375&type=MP&lang=en_US", target="_blank") Sparkhouse
    h2
      a(href="//workforcenow.adp.com/jobs/apply/posting.html?client=augsburg&ccId=159791208_5289&type=MP&lang=en_US", target="_blank") 1517 Media

  include footer
