extends layout

block head
  title Careers

block content
  include header

  .half
    p.
      Join our friendly team of professionals and be a part of making a real difference in the lives of people of all ages.
    p.
      We offer a supportive and stimulating environment, including a comprehensive employee wellness program, at our new state-of-the-art offices in downtown Minneapolis.
    p.
      Our building provides both a fitness center and indoor bicycle storage. And our kitchen is always stocked with plenty of coffee, water, healthy snacks, and fresh fruit.
    p.
      Our company was named a top place to work by the StarTribune in 2015.
      
    include footer

  .half
    p.
      Find out more about why we're such a great place to work:
      
    h2 Our Culture
    
    p.
      To learn about current openings at any of our units, click on the appropriate name:
      
    h2
      a(href="#") Augsburg Fortress
    h2
      a(href="#") Fortress Press
    h2
      a(href="#") Sparkhouse
    h2
      a(href="#") 1517 Media
