extends layout

block vars
  - var pageTitle = 'Contact'

block content
  include header

  .third
    h2 Sales and Service
    p.
      800-328-4648
      <br/><br/>
      Monday-Friday
      <br/>
      8am-4:30pm Central
      
    h2 Locations
    p.
      510 Marquette Ave<br/>
      Eighth Floor<br/>
      Minneapolis MN 55402
      
    h2 Mailing Address
    p.
      PO Box 1209<br/>
      Minneapolis MN 55440
      
  .third
    h2 Email Addresses
    p.
      Sales and Service<br/>
      <a href="mailto:customercare@1517.media">salesandservice@1517.media</a><br><br>
      Subscriptions<br/>
      <a href="mailto:subscriptions@1517.media">subscriptions@1517.media</a><br><br>
      Rights & Permissions<br/>
      <a href="mailto:copyright@1517.media">copyright@1517.media</a><br><br>
      Translation & Licensing<br/>
      <a href="mailto:rightsinfo@1517.media">rightsinfo@1517.media</a><br><br>
      Event Information<br/>
      <a href="mailto:events@1517.media">events@1517.media</a><br><br>
      Career Opportunities<br/>
      <a href="mailto:jobs@1517.media">jobs@1517.media</a><br><br>
      Other Information<br/>
      <a href="mailto:info@1517.media">info@1517.media</a><br><br>
    
  .third
    h2 Social Media
    p.
      Twitter<br/>
      <a href="//twitter.com/1517media">twitter.com/1517media</a><br/><br/>
      Facebook<br/>
      <a href="//facebook.com/1517media">facebook.com/1517media</a><br/><br/>
      LinkedIn<br/>
      <a href="//linkedin.com/company/1517media">linkedin.com/company/1517media</a>
      
  include footer
