footer
  a(href="https://www.elca.org/", target="_blank")
    include elca_logo.html
  p
    a(href="https://www.elca.org/", target="_blank") We are the ministry of publishing of the  Evangelical Lutheran Church in America.
