.logo
  a(href="/")
    include logo.html
  
block vars
ul
  li
    if pageTitle === "About"
      a(href="/about").about.active About
    else
      a(href="/about").about About
  li
    if pageTitle === "Careers"
      a(href="/careers").careers.active Careers
    else
      a(href="/careers").careers Careers
  li
    if pageTitle === "Contact"
      a(href="/contact").contact.active Contact
    else
      a(href="/contact").contact Contact

#p5.divider
  if pageTitle === "Home"
      img(src="//unsplash.it/g/2000/150?image=11").homepageImage
   else if pageTitle === "About"
     img(src="img/image1.jpeg")
    else if pageTitle === "Careers"
      img(src="img/image_2.jpeg")
    else if pageTitle === "Contact"
      img(src="img/image3.jpeg")
