h1.logo
  a(href="/") the <span class="black">name</span>
ul
  li
    a(href="/about").active About
  li
    a(href="/careers") Careers
  li
    a(href="/contact") Contact

#p5.divider
script.
  function setup(){
    var cnv = createCanvas(windowWidth, 250);
    cnv.parent("p5");
    background("#f33");
    fill(255);
    textSize(width/8);
    textFont("Avenir");
    textStyle(BOLD);

    makeType(2);

  }

  function makeType(ct){
    background("#f33");
    for(i = 0; i < ct; i++){
      var x = random(50, width-50);
      var r = random(-60, 60);
      var letters = ["1", "5", "1", "7"];
      var rLetter = int(random(0, letters.length));
      
      push();

      translate(x, 0);
      rotate(r);

      text(letters[rLetter], 0, 50);

      pop();
    }
  }
