h1.logo
  a(href="/") 1517 <span class="black">Media</span>
ul
  li
    a(href="/about") About
  li
    a(href="/careers") Careers
  li
    a(href="/contact") Contact

#p5.divider
script.
  function setup(){
    var cnv = createCanvas(windowWidth, 250);
    cnv.parent("p5");
    background("#f33");
    fill(255);
    textSize(width/8);
    textFont("Avenir");

    makeType(2);

  }

  function makeType(ct){
    background("#f33");
    for(i = 0; i < ct; i++){
      var x = random(0, width);
      var r = random(0, 360);
      var letters = ["1", "5", "1", "7"];

      push();

      translate(x, -width/24);
      rotate(r);

      text(letters[i], 0, 0);

      pop();
    }
  }
