extends layout

block head
  title 1517 Media

block content

  include header
  
  section
    .half
      p.
        Welcome to 1517 Media. We’re dedicated to developing substantive and innovative resources that support the life and ministries of the church, enrich the communities these ministries serve, and proclaim the liberating grace of God. 
      
      p.
        Our name expresses both our rootedness in the Lutheran tradition and gifts of the Reformation as well as our focus on creating a wide range of media resources for the  church, classroom, and home through the work of our  three publishing units. 
      include footer

    .half
      item
        h2 Augsburg Fortress
        p.
          Serves Lutheran churches with resources  that support worship and music, faith formation, and congregational life.

      item
        h2 Fortress Press
        p.
          Supports higher education faculty, students, clergy, and church leaders across the ecumenical landscape with resources for the classroom, research, and individual study.

      item
        h2 Sparkhouse
        p.
          Sparkhouse Church develops faith formation resources for children, youth, and adults that spark new life in Christian communities. 
        p.
          Sparkhouse Family creates entertaining books, Bibles, and videos for today’s Christian families that help parents fit  faith into everyday life. 
