extends layout

block content
  h1 Company <span class="black">Name</span>
  ul
    li
      a(href="/about") About
    li
      a(href="/about") Careers
    li
      a(href="/about") Contact

  include divider

  section
    .half
      p.
        Suspendisse lacus tortor, porttitor id finibus quis, ultricies sit amet nisi. Aliquam eget efficitur odio, in gravida sem. Suspendisse urna ipsum, lobortis nec pretium bibendum, sollicitudin ut felis. Vestibulum vel velit gravida, condimentum urna sit amet, rhoncus nisl. Ut id magna augue. Praesent at ipsum viverra, interdum quam eget, sodales leo. Maecenas dapibus turpis ut finibus ultrices. Nullam ullamcorper venenatis vestibulum. Quisque ornare, odio et egestas fringilla, massa tortor rhoncus sem, at dapibus turpis ipsum eget quam. Suspendisse eget condimentum purus. Quisque a libero porta, viverra est nec, volutpat nisl. Etiam rutrum orci a elementum vestibulum. In pharetra orci ac sapien sollicitudin, nec porttitor lectus hendrerit. Maecenas eu nunc justo.


      p.
         Suspendisse metus ex, venenatis id faucibus dignissim, semper vitae eros. Morbi ut placerat mi. Nunc varius vitae nisi eget vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a dui ac tortor congue volutpat vel in enim. Curabitur pulvinar molestie erat eget consequat. Pellentesque risus massa, gravida nec sapien a, tincidunt congue mi.

    .half
      item
        h2 Augsburg Fortress
        p.
          Sed nec turpis at justo auctor venenatis ac id nulla. Mauris et ipsum id est cursus sodales. Proin urna tortor, iaculis id velit vitae, laoreet vestibulum massa.

      item
        h2 Fortress Press
        p.
          Sed nec turpis at justo auctor venenatis ac id nulla. Mauris et ipsum id est cursus sodales. Proin urna tortor, iaculis id velit vitae, laoreet vestibulum massa.

      item
        h2 Sparkhouse
        p.
          Sed nec turpis at justo auctor venenatis ac id nulla. Mauris et ipsum id est cursus sodales. Proin urna tortor, iaculis id velit vitae, laoreet vestibulum massa.
