extends layout

block vars
  - var pageTitle = 'Home'

block content

  include header
  
  section
    .half
      p.
        Welcome to 1517 Media. We are dedicated to developing innovative and substantive resources that proclaim the liberating grace of God, enhance faith, and support the people and communities we serve.
      
      p.
        Our name expresses our rootedness in the gifts of the Reformation while highlighting the focus of our three publishing units on developing a range of resources for the church, classroom, and home.

    .half
      item
        h2 
          a(href="//augsburgfortress.org", target="_blank") Augsburg Fortress
        p.
          Serves Lutheran churches with resources  that support worship and music, faith formation, and congregational life.

      item
        h2
          a(href="//fortresspress.com", target="_blank") Fortress Press
        p.
          Supports higher education faculty, students, clergy, and church leaders across the ecumenical landscape with resources for the classroom, research, and individual study.

      item
        h2 Sparkhouse
        p.
          <a href="//wearesparkhouse.org" target="_blank">Sparkhouse Church</a> develops faith formation resources for children, youth, and adults that spark new life in Christian communities. 
        p.
          <a href="//sparkhouse.org" target="_blank">Sparkhouse Family</a> creates entertaining books, Bibles, and videos for today’s Christian families that help parents fit  faith into everyday life. 
  include footer
