@import '_settings'

normalize-css()
base()

body
  padding: 50px 150px
  font-weight: 900
  overflow-x: hidden;

  p
    font-size: 13px;
    max-width: 380px;
    clear: both;

  .black
    color: black;

  .red
    color: brand;
    margin-bottom: 0;
    font-weight: 900;

  h1, h2, h3, h4, h5, h6
    font-weight: 900;


  h1, h2, h3, h4, h5, h6
    margin: 0;
    width: 100%;
    float: left;

    &:not(:first-child)
      margin-top: 20px;

    a:hover
      border-bottom: 0;

  h4, h5, h6
    color: black;
    font-weight: 500;

  .logo
    font-size: 40px;
    transform: translateX(-8px);

    a:hover
      text-decoration: none;
      border-bottom: 0;

    // svg
    //   path
    //     transition: 0.25s ease all;
    //       &:hover
    //         opacity: 0.5;

  section, footer
    display: inline-block;
    width: 100%;

  footer

    p, a
      font-size: 10px;
      color: gray;
      font-weight: 300;

      &:hover
        border-bottom: 0;

    svg
      float: left;
      margin: 3px 0;

    p
      max-width: 200px;
      margin: 0 20px;
      clear: none;

  p
    font-weight: 500;
    color: black;
    margin: 0.3em 0;
    float: left;
    margin-bottom: 8px;

  a
    color: brand;
    text-decoration: none;
    cursor: pointer;

    &:hover
      border-bottom: solid 1px brand;

    &.active
      color: black;

  ul
    list-style-type: none;
    padding: 0;
    font-weight: bold;
    width: 100%;
    float: left;
    margin: 0px 0 30px 0;

    li
      float: left;
      padding: 3px 15px;

      &:first-of-type
        padding-left: 0;

  .divider
    height: 150px;
    overflow-y: hidden;
    float: left;
    width: 110%;
    margin-bottom: 10px;
    background-color: brand;

  .half
    width: 43%;
    max-width: 400px;
    padding: 2% 7% 0 0;
    float: left;

    h2
      margin: 0.25em 0;

  .third
    width: 30%;
    padding: 2% 0.5%;
    float: left;

  item
    float: left;
    width: 100%;
    margin-bottom: 20px;

@media (max-width: 768px)
  body
    padding: 15px;

    p
      width: 100%;
      clear: both;
      max-width: 100%;

    .half
      width: 100%;
