@import '_settings'

normalize-css()
base()

body
  padding: 50px
  font-weight: 900

  .black
    color: black;

  h1, h2, h3, h4, h5, h6
    margin: 0.33em 0;

    a:hover
      border-bottom: 0;

  .logo
    font-size: 40px;
    transform: translateX(-8px);

  section, footer
    display: inline-block;
    width: 100%;

  footer

    p, a
      font-size: 10px;
      color: gray;
      font-weight: 300;

      &:hover
        border-bottom: 0;

    svg
      float: left;

    p
      max-width: 200px;
      margin: 0 20px;

  p
    font-weight: normal;
    color: black;
    margin: 0.3em 3px;
    float: left;

  a
    color: brand;
    text-decoration: none;
    cursor: pointer;
    font-weight: 900

    &:hover
      border-bottom: solid 1px brand;

  ul
    list-style-type: none;
    padding: 0;
    font-weight: bold;
    width: 100%;
    float: left;

    li
      float: left;
      padding: 3px 15px;

      &:first-of-type
        padding-left: 0;

  .divider
    height: 250px;
    background: brand;
    float: left;
    width: 110%;

  .half
    width: 43%;
    padding: 2% 7% 0 0;
    float: left;

  item
    float: left;
    width: 100%;
    max-width: 350px;

@media (max-width: 900px)
  body
    padding: 15px;

    .half
      width: 100%;
